@charset "utf-8";
*, *:before, *:after {
    box-sizing: border-box
}
.all-holder{
    font-family: 'Ubuntu', sans-serif;
    color:#434343;
    background-image: url("../img/container-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
}
.container{
    max-width: 1366px;
    margin:0 auto;
}
.canvas{
    position:relative;
    height:calc(100vh - 58px);
}
.nav-top{
    background: rgba(0,0,0,.3);
    height:58px;
    width:100%;
}
.logo-welcome{
    display:flex;
    justify-content: space-between;
}
.logo{
    padding: 18px 79px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color:#fff;
    -webkit-transition: color 0.8s;
}
.logo:hover{
    color:#01813F;
}
.glyphs-invites{
    display:flex;
}
.pointer {
    cursor: pointer;
}
.glyph {
    margin: 17px 25px 0 0;
    fill: #fff;
    -webkit-transition: fill 0.3s;
}
.glyph:hover {
    fill: #01813F;
}
.welcome-login{
    padding: 10px 0 0 27px;
    font-size: 14px;
    color:#fff;
    border-left: 1px solid rgba(255,255,255,.5);
    margin-right:79px;
}
.login-signup{
    color:#fff;
}
.login-signup:hover{
color:#236c47;
}
.carpet{
    width:444px;
    height:auto;
    background: #fff;
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
}
.form-header{
    padding:30px 60px 15px 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.signup-form-header{
    font-size:20px;
    padding:4px 10px 0 60px;
    text-align:left;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18 18' style='enable-background:new 0 0 18 18;' xml:space='preserve'%3e%3crect style='fill:%233CB878;' width='18' height='18'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
}
.login-form-header{
    font-size:14px;
}
.essence{
    width:324px;
    margin:auto;
}
.form-soc-btn{
    display: inline-block;
}
.soc-btn {
    color:#fff;
    width:160px;
    height:48px;
    border:none;
    cursor:pointer;
    border-radius: 4px;
    font-size:16px;
    text-align: left;
}
.fontawesome {
    font-family: fontawesome;
    font-size:22px;
}
.fa-facebook-f{
    display:inline-block;
    border-right:1px solid rgba(10, 22, 47,.2);
    padding: 8px 15px 6px 9px;
}
.fa-google-plus-g{
    display:inline-block;
    border-right:1px solid rgba(43, 13, 9,.2);
    padding: 8px 12px 6px 4px;
}
.soc-name{
    display:inline-block;
    padding: 0 0 6px 18px;
}
.fb-btn{
    background:#305DB8;
    -webkit-transition: background-color 0.5s;
}
.fb-btn:hover{
     background:#022263;
 }

.google-btn{
    background:#DF4A32;
    -webkit-transition: background-color 0.8s;
}
.google-btn:hover{
    background:#AB1F09;
}
.or-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#848484;
    margin-top: 20px;
}
.or-divider::before,.or-divider::after
{
    content: '';
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    border-bottom: 1px solid #e9e9e9;
    margin: 16px 0;
    padding-top: 3px;
}
.input-text-psw {
    outline: none;
    width: 100%;
    padding: 16px 20px;
    margin: 5px 0 15px 0;
    display: block;
    background: #fff;
    height: 46px;
    font-size: 14px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
}
.input-text-psw::placeholder{
    color: #bebebe;
}
.input-text-psw:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}
.input-checkbox:checked,.input-checkbox:not(:checked){
    position: relative;
    appearance:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #e0e0e0;
    margin-bottom: 0;
    width: 20px;
    height: 20px;
    background-color:#fff;
    cursor: pointer;
}
.input-checkbox:checked:before{
    content:"\2713";
    color: #3CB878;
    font-weight: 700;
    font-size:24px;
    position:absolute;
    left:2px;
    bottom:-2px;
}
.register-btn {
    background-color: #3CB878;
    color: #fff;
    font-size:16px;
    padding: 16px 20px;
    margin: 8px 0 38px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius:4px;
    -webkit-transition: background-color 0.8s;
}
.register-btn:hover {
    background-color: #01813F;
}
.form-link {
    color:#3CB878;
}
.form-link:hover{
    text-decoration:underline;
    color:#01813F;
}